<div class="p-8 " >
    <div class="border border-gray-700 rounded-lg p-7 bg-gray-900 " >
        <div class="mb-6" >
            <h4 class="font-normal text-lg text-white" >Filters</h4>
            <h5>Filter and search issues to find what you're looking for</h5>
        </div>
        <div class=" flex justify-between items-center" >
            <input
            type="text" 
            placeholder="Search issues by title..." 
            class="font-thin text-sm p-2 rounded-md w-2/3 bg-black text-white border border-gray-600 focus:outline-none focus:border-blue-500" />
            <select name="status" id="">
                <option value="All Status">All Status</option>
                <option value="Pending">Pending</option>
                <option value="Resolved">Resolved</option>
            </select>
            <select name="priority" id="">
                <option value="All Priority">All Priority</option>
                <option value="High">High</option>
                <option value="Medium">Medium</option>
                <option value="Low">Low</option>
            </select>
            <select name="assignees" id="">
                <option value="All Assignees">All Assignees</option>
                <option value="High">High</option>
                <option value="Medium">Medium</option>
                <option value="Low">Low</option>
            </select>
            <button>x  clear</button>
        </div>
    </div>
</div>
<div class="p-8 " >
    <div class="border border-gray-700 rounded-lg p-7 bg-gray-900 " >
        <div class="flex justify-between items-center mb-5" >
            <h4 class="font-normal text-lg text-white" >Issues()</h4>
            <div class="flex " >
                <p class="mr-3" >Show:</p>
                <select name="paginate" id="">
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="15">15</option>
                    <option value="20">20</option>
                </select>
            </div>
        </div>
        <app-issue [data]="Issues"></app-issue>

    </div>
</div>