<div class="flex" >
    <input 
    class="bg-gray-900 border-r border-gray-700 p-2 pl-3 pr-3 w-1/12"
    type="text"
    readonly
    value="{{Issue.Id}}"
    >
    <input 
    class="bg-gray-900 border-r border-gray-700 p-2 pl-3 pr-3 w-full"
    type="text"
    readonly
    value="title"
    >
    <input 
    class="bg-gray-900 border-r border-gray-700 p-2 pl-3 pr-3 w-1/6"
    type="text"
    readonly
    value="status"
    >
    <input 
    class="bg-gray-900 border-r border-gray-700 p-2 pl-3 pr-3 w-1/6"
    type="text"
    readonly
    value="priority"
    >
    <input 
    class="bg-gray-900 border-r border-gray-700 p-2 pl-3 pr-3 w-1/6"
    type="text"
    readonly
    value="assignee"
    >
    <input 
    class="bg-gray-900 p-2 pl-3 pr-3 w-1/6"
    type="text"
    readonly
    value="updatedAt"
    >
    
</div>
<div class="border-b border-gray-700 p-1 ml-3 mr-3" ></div>